[package]
name = "ref-cast"
version = "0.2.4" # remember to update html_root_url
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Safely cast &T to &U where the struct U contains a single field of type T."
repository = "https://github.com/dtolnay/ref-cast"
documentation = "https://docs.rs/ref-cast"

[dependencies]
ref-cast-impl = { version = "0.2", path = "derive" }

[workspace]
members = ["derive", "compiletest"]

[badges]
travis-ci = { repository = "dtolnay/ref-cast" }
