[package]
name = "ref-cast"
version = "1.0.1" # remember to update html_root_url
authors = ["David Tolnay <dtolnay@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Safely cast &T to &U where the struct U contains a single field of type T."
repository = "https://github.com/dtolnay/ref-cast"
documentation = "https://docs.rs/ref-cast"
readme = "README.md"

[dependencies]
ref-cast-impl = { version = "=1.0.1", path = "derive" }

[dev-dependencies]
rustversion = "1.0"
trybuild = { version = "1.0.19", features = ["diff"] }

[workspace]
members = ["derive"]

[badges]
travis-ci = { repository = "dtolnay/ref-cast" }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
